<div>
    <p class="text-notFound" style="font-size: 2rem;color: #027bff;">Khong tim thay noi dung</p>
    <a href="http://localhost:5500/products/allItem">
        <button type="button" class="btn btn-primary">Trang chu</button>
    </a>
</div>
