<div class="mt-4">
    <form>
        <div class="form-group">
            <label for="search">tu khoa</label>
            <input type="text" name="tukhoa" class="form-control" id="search" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">tim kiem</button>
    </form>
</div>